
.nav_container{
  position: fixed;
  bottom: 0;
  left: 0;
}

.items{
  min-width: 100vw;
  background-color: rgba(169, 184, 188, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding:20px ;
}

.items li{
  flex-grow: 1;
  list-style: none;
  font-style: normal;
  text-align: center;
  font-weight: bold;
}

.items li a{
  color: black;
  text-decoration: none;
}
